.app {
	background-color: var(--color-accent);
	overflow-x: clip;

	@include tablet {
		padding-top: var(--section-padding-y);
	}

	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 70px;


		@include tablet {
			flex-direction: column;
			row-gap: 40px;
			text-align: center;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		row-gap: 16px;
		color: var(--color-light);
		max-width: 490px;
	}

	&__title {
		font-size: 40px;
		line-height: 1.2;
	}

	&__description {
		opacity: 0.9;
	}

	&__download-label {
		opacity: 0.6;
		line-height: 1;
		margin-bottom: 9px;
	}

	&__badges {
		display: flex;
		align-items: center;
		column-gap: 12px;

		@include tablet {
			justify-content: center;
		}
	}

	&__badge {
		display: block;
		transition: transform var(--transition-duration);

		@include hover {
			transform: scale(1.06);
		}
	}

	&__media {
		position: relative;
		flex-shrink: 0;
		width: 500px;
		height: 575px;
		margin-top: calc(var(--section-padding-y) * -1);


		@include mobile {
			width: 356px;
			height: 455px;
		}

		@include mobile-s {
			width: 250px;
		}
	}

	&__mockup {
		position: absolute;
		display: block;

		img {
			@include mobile {
				width: 166px;
				height: 333px;
			}
		}

		&--front {
			left: 0;
			top: 54px;
			z-index: 2;
			filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, 0.5));

			@include mobile {
				top: 29px;
				left: 35px;
			}

			@include mobile-s {
				top: 32px;
				left: -20px;
			}
		}

		&--back {
			right: 0;
			bottom: -89px;
			z-index: 1;
			filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, 0.5));

			img {
				clip-path: inset(0 0 19% 0);
			}

			@include mobile {
				right: -35px;
				bottom: -24px;

				img {
					clip-path: none;
				}
			}

			@include mobile-s {
				right: -81px;
				bottom: -25px;
			}
		}
	}
}