@charset "UTF-8";
/**
	Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/*
	Убираем стандартный маркер маркированному списку,
	у которого есть атрибут class
*/
:where(ul[class]) {
  list-style: none;
}

/*
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
*/
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/*
	Внешний отступ вниз для параграфа без атрибута class,
	который расположен не последним среди своих соседних элементов
	*/
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #424242;
  --color-dark-alt: #0B0D17;
  --color-light: #FFFFFF;
  --color-light-alt: #EDEDED;
  --color-accent: #E43071;
  --color-accent-alt: #F8C5D7;
  --color-gray: #969BAB;
  --color-gray-alt: #D9DBE1;
  --border: 2px solid var(--color-accent);
  --border-radius: 38px;
  --border-radius-small: 10px;
  --shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18);
  --font-poppins: 'Poppins', sans-serif;
  --font-manrope: 'Manrope', sans-serif;
  --container-width: 1370px;
  --container-padding-x: 20px;
  --section-padding-y: 100px;
  --button-height: 68px;
  --transition-duration: 0.2s;
}
@media (max-width: 1280px) {
  :root {
    --section-padding-y: 70px;
  }
}
@media (max-width: 1023px) {
  :root {
    --section-padding-y: 60px;
  }
}
@media (max-width: 767px) {
  :root {
    --section-padding-y: 35px;
    --button-height: 58px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .visible-tablet {
    display: none !important;
  }
}

body {
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: normal;
  line-height: 2.31;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: bold;
  line-height: 1;
}

h1, .h1 {
  font-size: clamp(32px, 4.8611111111vw, 70px);
}

h2, .h2 {
  font-size: clamp(43px, 4.1666666667vw, 60px);
}

h3, .h3 {
  font-size: clamp(26px, 3.3333333333vw, 48px);
}

h4, .h4 {
  font-size: clamp(18px, 2.7777777778vw, 40px);
}

h5, .h5 {
  font-size: clamp(27px, 2.6388888889vw, 38px);
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
  }
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding-inline: 67px;
  font-size: 16px;
  color: var(--color-accent);
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}
.button--alternative {
  color: var(--color-accent);
  background-color: var(--color-light);
}
@media (hover: hover) {
  .button--alternative:hover {
    color: var(--color-light);
    background-color: var(--color-accent-alt);
  }
}
@media (hover: none) {
  .button--alternative:active {
    color: var(--color-light);
    background-color: var(--color-accent-alt);
  }
}
.button-accent {
  color: var(--color-light);
  background-color: var(--color-accent);
}
@media (hover: hover) {
  .button-accent:hover {
    color: var(--color-accent);
    background-color: var(--color-light);
  }
}
@media (hover: none) {
  .button-accent:active {
    color: var(--color-accent);
    background-color: var(--color-light);
  }
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 34px;
}
@media (max-width: 767px) {
  .grid {
    gap: 26px;
  }
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (max-width: 1023px) {
  .grid--2 {
    --gridColumns: 1;
  }
}
@media (max-width: 1280px) {
  .grid--3 {
    --gridColumns: 2;
  }
}
@media (max-width: 767px) {
  .grid--3 {
    --gridColumns: 1;
  }
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-accent-alt);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-accent-alt);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-light);
  border-radius: 5px;
  box-shadow: 0 -8px 0 var(--color-light), 0 8px 0 var(--color-light);
}

.header {
  padding-block: 25px;
  background-color: var(--color-accent);
}
@media (max-width: 767px) {
  .header {
    padding-block: 18px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 37px;
}
@media (max-width: 1280px) {
  .header__inner {
    column-gap: 25px;
  }
}
@media (max-width: 1280px) {
  .header__logo {
    max-width: 145px;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    max-width: 187px;
  }
}
@media (max-width: 480px) {
  .header__logo {
    max-width: 102px;
  }
}
.header__menu {
  margin-left: auto;
  color: var(--color-light);
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 76px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    column-gap: 38px;
  }
}
.header__menu--search {
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.header__menu-item {
  position: relative;
}
@media (hover: hover) {
  .header__menu-item:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-item:active::after {
    width: 100%;
  }
}
.header__menu-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: var(--transition-duration);
}
.header__menu-link {
  display: inline-flex;
  align-items: center;
  height: 38px;
}
.header__button {
  height: 50px;
  padding-inline: 61px;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-accent-alt);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-accent-alt);
  }
}
.cross-button::before, .cross-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 70%;
  height: 2px;
  background-color: var(--color-accent);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 14px 20px;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}

.section {
  padding-block: var(--section-padding-y);
}
.section--hidden-x {
  overflow-x: hidden;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100svh - 100px);
  color: var(--color-light);
  background-image: url("/images/hero.avif");
  background-image: -webkit-image-set(url("/images/hero.avif") type("image/avif"), url("/images/hero.webp") type("image/webp"), url("/images/hero.jpg") type("image/jpeg"));
  background-image: image-set(url("/images/hero.avif") type("image/avif"), url("/images/hero.webp") type("image/webp"), url("/images/hero.jpg") type("image/jpeg"));
  background-size: cover;
}
@media (max-width: 767px) {
  .hero {
    min-height: calc(100svh - 84px);
    background-position: center;
  }
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}
.hero__inner {
  position: relative;
  z-index: 1;
  flex: 1;
  display: flex;
  align-items: center;
  padding-block: calc(2.5 * var(--section-padding-y));
}
.hero__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 35px;
  max-width: 550px;
  margin-inline: auto;
}
@media (max-width: 1023px) {
  .hero__body {
    max-width: 393px;
  }
}
@media (max-width: 767px) {
  .hero__body {
    row-gap: 24px;
    max-width: 279px;
  }
}
.hero__title-accent {
  color: var(--color-accent-alt);
}
.hero__button {
  padding-inline: 56px;
}
@media (max-width: 767px) {
  .hero__button {
    padding-inline: 42px;
  }
}
.hero__pagination {
  position: relative;
  z-index: 1;
  padding-bottom: 35px;
}
@media (max-width: 767px) {
  .hero__pagination {
    padding-bottom: 28px;
  }
}
.hero__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
}
.hero__wave svg {
  display: block;
  width: 100%;
  height: 30px;
}

.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}
.pagination__button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  aspect-ratio: 1;
  background-color: var(--color-light);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: transform var(--transition-duration), background-color var(--transition-duration);
}
.pagination__button::before {
  content: "";
  position: absolute;
  inset: -4px;
}
@media (hover: hover) {
  .pagination__button:hover {
    background-color: var(--color-accent);
    transform: scale(1.4);
  }
}
@media (hover: none) {
  .pagination__button:active {
    background-color: var(--color-accent);
    transform: scale(1.4);
  }
}
.pagination__button.is-current {
  width: 17px;
  background-color: var(--color-accent);
  cursor: not-allowed;
}
@media (hover: hover) {
  .pagination__button.is-current:hover {
    transform: none;
  }
}
@media (hover: none) {
  .pagination__button.is-current:active {
    transform: none;
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
}
@media (max-width: 767px) {
  .about {
    flex-direction: column;
    row-gap: 15px;
  }
}
.about__media {
  position: relative;
  flex-shrink: 0;
  width: 380px;
  height: 500px;
}
@media (max-width: 480px) {
  .about__media {
    width: 100%;
    height: 350px;
  }
}
.about__image {
  position: absolute;
  object-fit: cover;
  border-radius: var(--border-radius);
}
.about__image--large {
  width: 60%;
  height: 80%;
  top: 0;
  left: 0;
  z-index: 1;
}
.about__image--small {
  width: 50%;
  height: 70%;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.about__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
}
@media (max-width: 1023px) {
  .about__body {
    row-gap: 22px;
  }
}
@media (max-width: 767px) {
  .about__body {
    align-items: center;
    text-align: center;
  }
}
.about__title {
  color: var(--color-accent);
}
@media (max-width: 767px) {
  .about__title {
    font-size: 40px;
  }
}
.about__description {
  max-width: 540px;
}
@media (max-width: 480px) {
  .about__button {
    width: 100%;
  }
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 450px;
  color: var(--color-light);
  background-image: url("/images/posters/post1.avif");
  background-image: -webkit-image-set(url("/images/posters/post1.avif") type('image/avif'), url("/images/posters/post1.webp") type('image/webp'), url("/images/posters/post1.jpg") type('image/jpeg'));
  background-image: image-set(url("/images/posters/post1.avif") type('image/avif'), url("/images/posters/post1.webp") type('image/webp'), url("/images/posters/post1.jpg") type('image/jpeg'));
  background-size: cover;
  background-position: center;
}
.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
.banner__inner {
  position: relative;
  z-index: 1;
  flex: 1;
  display: flex;
  align-items: center;
  padding-block: calc(2.5 * var(--section-padding-y));
}
.banner__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 35px;
  margin-inline: auto;
}
@media (max-width: 767px) {
  .banner__body {
    row-gap: 24px;
  }
}
.banner__description {
  max-width: 400px;
}
.banner__button {
  padding-inline: 78px;
}
@media (max-width: 480px) {
  .banner__button {
    width: 100%;
  }
}
.banner__pagination {
  position: relative;
  z-index: 1;
  padding-bottom: 25px;
}

.facilities {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
}
@media (max-width: 1023px) {
  .facilities {
    flex-direction: column-reverse;
    row-gap: 40px;
  }
}
@media (max-width: 767px) {
  .facilities {
    row-gap: 15px;
  }
}
.facilities__media {
  position: relative;
  flex-shrink: 0;
  width: 580px;
  height: 435px;
}
@media (max-width: 1023px) {
  .facilities__media {
    width: 510px;
    height: 380px;
  }
}
@media (max-width: 767px) {
  .facilities__media {
    width: 410px;
    height: 300px;
  }
}
@media (max-width: 480px) {
  .facilities__media {
    width: 100%;
    height: 200px;
  }
}
.facilities__image {
  position: absolute;
  object-fit: cover;
  border-radius: var(--border-radius);
}
.facilities__image--large {
  width: 77%;
  height: 68%;
  top: 0;
  left: 0;
  z-index: 2;
}
.facilities__image--small {
  width: 73%;
  height: 65%;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.facilities__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
}
@media (max-width: 1023px) {
  .facilities__body {
    row-gap: 22px;
  }
}
@media (max-width: 767px) {
  .facilities__body {
    align-items: center;
    text-align: center;
  }
}
.facilities__title {
  color: var(--color-accent);
}
@media (max-width: 767px) {
  .facilities__title {
    font-size: 40px;
  }
}
.facilities__description {
  max-width: 540px;
}
@media (max-width: 480px) {
  .facilities__button {
    width: 100%;
  }
}

.reviews {
  background: linear-gradient(to bottom, #fff, var(--color-accent-alt));
  padding-top: 0;
}
@media (max-width: 1023px) {
  .reviews {
    padding-top: var(--section-padding-y);
  }
}
.reviews__inner {
  display: grid;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1023px) {
  .reviews__inner {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
}
.reviews__header {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  position: relative;
  top: 100px;
  right: 100px;
}
@media (max-width: 1280px) {
  .reviews__header {
    top: 70px;
    right: 70px;
  }
}
@media (max-width: 1023px) {
  .reviews__header {
    position: static;
    align-items: center;
    row-gap: 6px;
  }
}
.reviews__cards {
  display: flex;
  column-gap: 33px;
  align-items: center;
}
@media (max-width: 1023px) {
  .reviews__cards {
    flex-direction: column;
    row-gap: 27px;
  }
}
.reviews__cards-column {
  display: flex;
  flex-direction: column;
  row-gap: 33px;
}
@media (max-width: 1023px) {
  .reviews__cards-column {
    align-items: center;
    row-gap: 27px;
  }
}

.review-card {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  max-width: 350px;
  padding: 30px;
  background-color: var(--color-light);
  border-radius: var(--border-radius-small);
  box-shadow: var(--shadow);
}
.review-card__result {
  color: var(--color-accent);
}
.review-card__quote {
  margin: 0;
  padding: 0;
  position: relative;
  padding-left: 30px;
}
.review-card__quote::before {
  content: "";
  position: absolute;
  background-image: url("/images/icons/quotes.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 20px;
  left: 0;
  top: 0;
}
.review-card__quote p {
  font-size: 18px;
  line-height: 1.7;
}
.review-card--featured {
  max-width: 450px;
}

.author {
  display: flex;
  align-items: center;
  column-gap: 17px;
  margin-top: auto;
}
.author__avatar {
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
.author__info {
  display: flex;
  flex-direction: column;
}
.author__name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
}
.author__role {
  font-size: 14px;
  color: var(--color-gray);
}

.app {
  background-color: var(--color-accent);
  overflow-x: clip;
}
@media (max-width: 1023px) {
  .app {
    padding-top: var(--section-padding-y);
  }
}
.app__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 70px;
}
@media (max-width: 1023px) {
  .app__inner {
    flex-direction: column;
    row-gap: 40px;
    text-align: center;
  }
}
.app__body {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  color: var(--color-light);
  max-width: 490px;
}
.app__title {
  font-size: 40px;
  line-height: 1.2;
}
.app__description {
  opacity: 0.9;
}
.app__download-label {
  opacity: 0.6;
  line-height: 1;
  margin-bottom: 9px;
}
.app__badges {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
@media (max-width: 1023px) {
  .app__badges {
    justify-content: center;
  }
}
.app__badge {
  display: block;
  transition: transform var(--transition-duration);
}
@media (hover: hover) {
  .app__badge:hover {
    transform: scale(1.06);
  }
}
@media (hover: none) {
  .app__badge:active {
    transform: scale(1.06);
  }
}
.app__media {
  position: relative;
  flex-shrink: 0;
  width: 500px;
  height: 575px;
  margin-top: calc(var(--section-padding-y) * -1);
}
@media (max-width: 767px) {
  .app__media {
    width: 356px;
    height: 455px;
  }
}
@media (max-width: 480px) {
  .app__media {
    width: 250px;
  }
}
.app__mockup {
  position: absolute;
  display: block;
}
@media (max-width: 767px) {
  .app__mockup img {
    width: 166px;
    height: 333px;
  }
}
.app__mockup--front {
  left: 0;
  top: 54px;
  z-index: 2;
  filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, 0.5));
}
@media (max-width: 767px) {
  .app__mockup--front {
    top: 29px;
    left: 35px;
  }
}
@media (max-width: 480px) {
  .app__mockup--front {
    top: 32px;
    left: -20px;
  }
}
.app__mockup--back {
  right: 0;
  bottom: -89px;
  z-index: 1;
  filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, 0.5));
}
.app__mockup--back img {
  clip-path: inset(0 0 19% 0);
}
@media (max-width: 767px) {
  .app__mockup--back {
    right: -35px;
    bottom: -24px;
  }
  .app__mockup--back img {
    clip-path: none;
  }
}
@media (max-width: 480px) {
  .app__mockup--back {
    right: -81px;
    bottom: -25px;
  }
}

.soc1als {
  background-color: var(--color-light-alt);
  padding-block: 65px;
}
.soc1als__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
}
.soc1als__title {
  color: var(--color-accent);
}
.soc1als__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 90px;
}
.soc1als__item {
  width: 110px;
  aspect-ratio: 1;
}

.footer {
  font-family: var(--font-manrope);
}
